body {
  margin: 0;
font-family: 'Merienda', cursive;
/* Balacss */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-primary-suba {
  color: #4bb878 !important;
}
