body {
  margin: 0;
font-family: 'Merienda', cursive;
/* Balacss */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-primary-suba {
  color: #4bb878 !important;
}
.bg-primary-suba {
  background-color: #4bb878 !important;
}
.messonry-button button {
  background-color: transparent;
  border: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}
/* ---------------------------------- */
.messonry-button button span {
  position: relative;
  display: inline-block;
  padding: 5px 20px;
}

.messonry-button button span.filter-text {
  text-transform: uppercase !important;
  font-weight: 600;
  line-height: 1.58;
  font-size: 16px;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.messonry-button button:hover span.filter-counter {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -100%);
}

.messonry-button button:hover span.filter-text {
  color: #4bb878;
}

.messonry-button button.is-checked span.filter-text {
  color: #4bb878;
}
.mb-10 {
  margin-bottom: 5 px !important;
  padding: 10px;
}

@media (min-width: 276px) {.row-cols-sm-2>* {
  flex: 0 0 auto;
  width: 50%;

}
.mb-10 {
  margin-bottom: 5 px !important;
  padding: 3px;
}
}

@media (min-width: 876px) {
  .row-cols-xl-4>* {
    flex: 0 0 auto;
    width: 25%;

  }

  .mb-10 {
    margin-bottom: 5 px !important;
    padding: 3px;
  }
}

@media (min-width: 576px) {
  .row-cols-xl-3>* {
    flex: 0 0 auto;
    width: 33.33333%;

  }

  .mb-10 {
    margin-bottom: 5 px !important;
    padding: 3px;
  }
}
 .lg-outer, .lg-toolbar, .lg-group
{
  display: none;
pointer-events: none;
}
 .video-btn {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 80px;
   height: 80px;
   border: 2px solid #fff;
   text-align: center;
   border-radius: 50%;
   line-height: 76px;
   background: #fff;
 }

   